*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font-sizeo in rem e font-family da google fonts */
html{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
}

body{
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    width: 70%;
    height: 50rem;    
    margin: 1.5rem auto 20rem;
    padding: 2rem 7rem;
}

/* header con logo e opzioni */
.logo{
    text-align: center;
    color: rgb(0, 221, 0);
}

.logo__img{
    margin: 5.5rem auto 0;
    width: 15rem;
    height: 7rem;
}

.logo__h1{
    font-size: 1.8rem;

}

ul{
    background-color: #16FF00;
    text-decoration: none;
}

ul li{
    list-style: none;
    display: inline-block;
    background-color: white;
    margin: .3rem;
}

ul a{
    text-decoration: none;
    color: black;
    padding: .1rem;
}

/* style comuni delle section */
.monopattino{
    color: white;
    margin: 1.5rem 0;
}
  
.monopattino h2{
    display: inline-block;
    font-size: 1.8rem;

}

.monopattino span{
    display: block;
}

.carica{
    border-radius: .2rem;
    height: 1.5rem;

}

/* srtle individuali per nomi */

.gino22 > .carica{
    background-color: rgb(245, 180, 83);
    width: 35%;
}

.mike24 > .carica{
    background-color: rgb(30, 195, 30);
    width: 65%;
}

.fede154 > .carica{
    background-color: rgb(190, 65, 65);
    width: 15%;
}